.container {
  width: 60%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.response-area {
  height: 85%;
  width: 100%;
  border: 1px solid black;
  overflow: scroll;
  padding: 20px;
  font-size: 15px;
}

.prompt-area {
  height: 15%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prompt-area input {
  height: 50%;
  width: 85%;
  padding: 5px;
  font-size: 15px;
}

.prompt-area button {
  width: 10%;
  height: 50%;
}

.chatbot-message {
  display: block;
  width: 100%;
  text-align: left;
  margin: 5px;
}

.user-message {
  display: block;
  width: 100%;
  text-align: right;
  margin: 5px;
}
