/* src/App.css */
.App {
  text-align: center;
}

.auth-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.auth-container input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 100%;
}

.auth-container button {
  padding: 10px;
  width: 100%;
}

.home-container {
  text-align: center;
  margin-top: 20px;
}
